* {
	border: none;
	border-radius: 0;
	font-family: Lexend, FiraCode Nerd Font, "M PLUS 1", Noto Sans CJK JP;
	font-size: 10px;
	font-weight: 600;
	min-height: 0;
}

window#waybar {
	/* background: rgba(24, 25, 38, 1.0); */
	background-color: rgba(10, 10, 10, 1);
	color: white;
}

tooltip {
	background: rgba(24, 25, 38, 0.95);
	border-radius: 8px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(24, 25, 38);
}

.modules-left,
window.bottom .modules-center,
.modules-right {
	border-color: rgba(255, 255, 255, 0.06);
	border-width: 1px;
	border-style: solid;
	background-color: #171717;
}

window.bottom .modules-center {
  /* margin: 10px; */
}

.modules-left,
.modules-right {
  /* margin: 10px; */
}

.modules-left,
.modules-center,
.modules-right {
  padding: 2px;
}

.modules-left,
.modules-center,
.modules-right,
#clock,
#visualisation,
#mpdris,
#custom-updates,
#layout,
#custom-notification.notification
{
  border-radius: 8px 8px 8px 8px;
}

#tray,
widget>label {
	padding: 0px 8px;
}

#mpdris {
	color: #24273a;
}

#visualisation
{
	color: #0a0a0a;
	background-color: #e5e5e5;
}

#layout {
	color: #e5e5e5;
}


#layout.focused {
	margin-right: 2px;
	color: #0a0a0a;
	background-color: #e5e5e5;
}

#tags button {
	color: #737373;
	margin-right: 2px;
	border-radius: 8px;
}

#tags button.occupied {
	color: #e5e5e5;
}

#workspaces {
	margin-right: 2px;
}

#workspaces button {
	color: #e5e5e5;
	border-radius: 8px;
	margin-left: 1px;
	margin-right: 1px;
}

#workspaces button:last-child {
	margin-right: 0px;
}

#workspaces button:first-child {
	margin-left: 0px;
}

#workspaces button.empty,
#workspaces.sway button.persistent {
	color: #737373;
}

#workspaces button.empty.active {
	background-color: #737373;
}

#tags button.urgent,
#workspaces button.urgent {
	color: #0a0a0a;
	background-color: #fda4af;
}

#workspaces button:hover {
	background-color: #a3a3a3;
	color: #0a0a0a;
}

#workspaces.sway button.persistent:hover,
#workspaces button.empty:hover {
	background-color: #404040;
	color: #0a0a0a;
}

#workspaces button.active,
#workspaces button.focused,
#tags button.focused {
	color: #0a0a0a;
	background-color: #e5e5e5;
}


#mpris {
	font-size: 9px;
}

#custom-notification {
	color: #e5e5e5;
	padding-left: 12px;
	margin-right: 2px;
}

#custom-notification.notification {
	color: #0a0a0a;
	background-color: #e5e5e5;
}

#taskbar button {
	margin: 0px 2px;
	padding: 2px 8px;
	border-radius: 8px;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

#taskbar button:hover {
	background-color: #404040;
}

#taskbar button:last-child {
	margin-right: 6px;
}

#taskbar button.maximized,
#taskbar button.fullscreen {
	border: 2px solid #e5e5e5;
}


#taskbar button.minimized {
	border-bottom: 2px solid #e5e5e5;
}

#taskbar button.active {
	background-color: #e5e5e5;
	border-radius: 8px;
	/* border-bottom: 2px solid #b7bdf8; */
}


#clock {
	color: #1e2030;
	background-color: #e5e5e5;
}

#custom-updates {
	margin-right: 2px;
	color: #1e2030;
	background-color: #e5e5e5;
}

#custom-downloads {
	color: #eed49f;
}

#custom-logo {
	font-size: 14px;
}

#network {
	color: #e5e5e5;
}

#cpu {
	color: #e5e5e5;
}

#pulseaudio {
	color: #e5e5e5;
}

#pulseaudio.bluetooth {
	color: #e5e5e5;
}

#pulseaudio.muted {
	color: #ed8796;
}

#pulseaudio-slider {
	min-width: 50px;
}

#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	border-radius: 20px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-height: 4px;
	min-width: 10px;
	border-radius: 5px;
	background-color: #363a4f;
}

#pulseaudio-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: #91d7e3;
}

#cava {
	font-family: FiraCode Nerd Font Mono;
}

#memory {
	color: #e5e5e5;
}

#temperature {
	color: #e5e5e5;
}

#temperature.critical {
	color: #ed8796;
}
