// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// spawn-at-startup "alacritty" "-e" "fish"
spawn-at-startup "hyprpaper"

// replaced by dms
// spawn-at-startup "systemctl" "restart" "--user" "waybar"
// spawn-at-startup "systemctl" "restart" "--user" "swaync"
// spawn-at-startup "swayosd-server"
// spawn-at-startup "hypridle"

spawn-at-startup "systemctl" "start" "--user" "foot-server"
// spawn-at-startup "systemctl" "start" "--user" "xwayland-satellite"
// spawn-at-startup "systemctl" "start" "--user" "gammastep"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
// spawn-at-startup "kdeconnectd"
// spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
// spawn-at-startup "swayidle" "before-sleep" "'loginctl lock-session'" "lock" "'swaylock'"
// spawn-at-startup "sunshine"
// spawn-at-startup "systemctl" "restart" "--user" "sunshine"
// spawn-at-startup "trackma"
// spawn-at-startup "xwayland-satellite"
